@if (emptyTemplateDetails) {
  <div
    [class.error]="emptyTemplateDetails?.mode === TemplateMode.errorTemplate"
    [class.info]="emptyTemplateDetails?.mode === TemplateMode.infoTemplate"
    class="template-content">
    @if(emptyTemplateDetails.faIcon){
    <ng-container>
      <fa-icon [icon]="emptyTemplateDetails?.faIcon"></fa-icon>
    </ng-container>
    }
    <div class="title">
      {{ emptyTemplateDetails?.title }}
    </div>
    <div class="description">
      {{ emptyTemplateDetails?.description }}
    </div>
  </div>
}
