<section class="majors-admin">

  <div class="majors-admin__header">

    <div class="majors-admin__title-block">
      <h1 class="majors-admin__title">Majors Administration</h1>

      <p class="majors-admin__subtitle">
        Oversee academic programs, course distribution, and faculty assignments for the current academic cycle.
      </p>
    </div>

    <button
      class="majors-admin__add-btn"
      (click)="navigateToAddNewMajor()">
      <fa-icon [icon]="['fas','plus']"></fa-icon>
      Add New Major
    </button>

  </div>

  <ng-container *ngrxLet="majorsListSelected$ as majors">

    @if ((majors?.length ?? 0) === 0) {

      <div class="majors-admin__empty-state">

        <div class="majors-admin__empty-icon">
          <fa-icon [icon]="['fas', 'diagram-project']"></fa-icon>
        </div>

        <h3 class="majors-admin__empty-title">
          No majors yet
        </h3>

        <p class="majors-admin__empty-description">
          There are currently no majors available. Create your first academic major to start organizing programs.
        </p>

      </div>

    } @else {

      <div class="majors-admin__controls">

        <div class="search-box">
          <fa-icon [icon]="['fas','magnifying-glass']"></fa-icon>

          <input
            type="text"
            placeholder="Search majors by name or code..."
            (input)="onSearch($event)"
          />
        </div>

        <div class="total-box">
          Total:
          <span>{{ majors.length }} Majors</span>
        </div>

      </div>

      <div class="majors-admin__grid">

        @for (major of majors; track major.id) {

          <div class="major-card">

            <div class="major-card__top">
              <span class="major-card__code">{{ major.code }}</span>

              <button
                class="major-card__menu"
                (click)="presentPopoverActions($event, major)">
                <fa-icon [icon]="['fas','ellipsis-vertical']"></fa-icon>
              </button>
            </div>

            <div class="major-card__content">

              <h2 class="major-card__name">
                {{ major.name }}
              </h2>

              <div class="major-card__faculty">
                <span class="major-card__dot"></span>
                {{ major.faculty?.name }}
              </div>

              <div class="major-card__courses">
                <fa-icon [icon]="['fas','book']"></fa-icon>
                {{ major.courseCount || 0 }} Courses
              </div>

            </div>

            <div class="major-card__footer">
              <button
                class="major-card__btn"
                (click)="navigateToMajorDetails(major.id)">
                View Details
              </button>
            </div>

          </div>

        }

      </div>

    }

  </ng-container>

</section>
